.main-form_register
	.main-form
		&__item
			&__left
				text-align: right
				padding-right: 35px
				+below($media-size5)
					text-align: left
			&__right
				max-width: 315px
	&__button
		margin-top: 40px
		.image-icon
			margin-left: -12px
