.add-questionnaire
	&__left
		float: left
		width: 58%

		+below($media-size4)
			float: none
			width: auto

		.main-form__item__right
			padding-right: 30px
			+below($media-size1)
				padding-right: 0
		.pseudo-dropdown_checkbox-openned .pseudo-dropdown-list
			max-height: 365px
			+below($media-size4)
				max-height: 250px
	&__right
		float: right
		width: 38%

		+below($media-size4)
			float: none
			width: auto

		.pseudo-dropdown
			margin-right: 30px
			+below($media-size1)
				margin-right: 0

		.sidebar-left__item
			+below($media-size4)
				width: 49%
				display: inline-block
				margin-top: 5px
				margin-bottom: 5px
				vertical-align: top

		.sidebar-left__item
			+below($media-size6)
				width: auto
				display: block
				margin-top: 10px
				margin-bottom: 10px

		.pseudo-dropdown_checkbox-openned .pseudo-dropdown-list
			+below($media-size4)
				max-height: 250px
	&__block
		padding: 15px 25px
		background-color: $color6
		.add-questionnaire & > *:first-child
			margin-top: 0
		.add-questionnaire & > *:last-child
			margin-bottom: 0
		&__title
			font-size: 15px
			font-weight: 700
			color: $color9
			margin: 10px 0
		&_form
			padding-left: 0
			padding-right: 0
			margin-right: 30px
			+below($media-size1)
				margin-right: 0
			.main-form__item__left
				padding-left: 25px
			.main-form__item__right
				padding-right: 30px
				+below($media-size1)
					padding-right: 25px
				+below($media-size5)
					padding-left: 25px
		&__left
			width: 250px
			float: left
			+below($media-size4)
				width: auto
				float: none
			.jq-file__name
				padding-top: 35px
				padding-left: 0
		&__right
			margin-left: 250px
			padding-left: 30px
			margin-top: -32px
			+below($media-size4)
				margin-top: 0
				margin-left: 0
			.image-icon.hint
				position: absolute
				margin-left: -25px
				margin-top: 3px
	&__dropdown
		&:first-child
			margin-top: 40px
	&__two-blocks
		&__left
			float: left
			width: 48%
			+below($media-size5)
				float: none
				width: auto
		&__right
			float: right
			width: 48%
			+below($media-size5)
				float: none
				width: auto
	&__price
		+below($media-size4)
			margin-left: 20px
		&__item
			display: inline-block
			+below($media-size4)
				display: block
			& + &
				margin-left: 40px
				+below($media-size2)
					margin-left: 20px
				+below($media-size4)
					margin-left: 0
					margin-top: 5px
			b
				+below($media-size4)
					width: 70px
					display: inline-block

			.form-item
				display: inline-block
				margin: 0 5px
				+below($media-size2)
					margin: 0 2px
	.sidebar-left__title
		margin-bottom: 10px
		margin-top: 0
	* + .sidebar-left__title
		margin-top: 35px
	.main-form__item
		margin: 13px 0


