.product-slider
	.slick
		&-arrow
		&-slide
			&:focus
				outline none
		&-arrow
			position: absolute
			top: 0
			bottom: 0
			width: 16px
			z-index: 5
			border: none
			padding: 0
			background-repeat: no-repeat
			font-size: 0
			background-color: transparent
			hover-opacity()

		&-next
			right: 0
			background-image: url(../img/product-page/product-slider-arrow-right.png)
			background-position: center right
		&-prev
			left: 0
			background-image: url(../img/product-page/product-slider-arrow-left.png)
			background-position: center left
	&__top
		&__item
			cursor: pointer
			position: relative
			font-size: 0
			img
				max-width: 100%
				margin: 0 auto
			&:after
				content: ''
				position: absolute
				border-radius: 50%;
				background-color: rgba(255, 255, 255, 0.8);
				width: 60px;
				height: 60px;
				background-image: url(../img/product-page/image-zoom.png)
				background-position: center
				background-repeat: no-repeat
				z-index: 5
				top: 50%
				left: 50%
				margin-left: -30px
				margin-top: -30px
				opacity 0
				visibility hidden
				transition all 0.2s ease-in-out 0s
				+below($media-size1)
					display: none
			&:hover:after
				opacity 1
				visibility visible
	&__bottom
		margin: 10px 0
		padding: 0 15px
		&__item
			hover-opacity()
			cursor: pointer
			margin: 0 3px
			height: 103px
			font-size: 0
			img
				max-width: 100%
				max-height: 100%
				margin 0 auto
		.slick-slide {
			text-align: center;
		}

		.slick-slide::before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%
		}

		.slick-slide img {
			vertical-align: middle;
			display: inline-block;
		}

.product-slider
	&__fake-image
		text-align: center
		img
			max-width: 100%
			padding-bottom: 113px
	&__top
	&__bottom
		display: none
		&.slick-initialized
			display: block
			& + .product-slider__fake-image
				display: none
