mixin header-menu()
	.header-menu-button
	.header-menu
		ul
			li.header-menu__item.plump
				a(href="#") Индивидуалки
			li.header-menu__item.polaroid
				a(href="#") Галерея анкет
			li.header-menu__item.male
				a(href="#") Салоны
			li.header-menu__item.speech
				a(href="#") Секс-форум
			li.header-menu__item.zoom
				a(href="#") Поиск анкет
				
