extends ../modules/layout/layout
include ../modules/add-questionnaire/add-salon-questionnaire

block content
	+sidebar-left-lk()
	+sidebar-right()

	main.main
		+bread-crumbs(["Главная", "Личный кабинет", "Добавить салон"])
		+page-title({"title": "Добавить салон"})
		
		+add-salon-questionnaire()


	.clear
