extends ../modules/layout/layout


block content
	+sidebar-left()
	+sidebar-right()
	
	main.main
		+page-title({"title": "Индивидуалки Санкт-Петербурга"})
		+pagination({"pages": 7, "active": 1, "total": 15, "hideMobile": true})
		
		//-
			+pseudo-dropdown-type3({
				"list": [
					{"title": "Автово"},
					{"title": "Адмиралтейская"},
					{"title": "Академическая"},
					{"title": "Балтийская"},
					{"title": "Бухарестская"},
					{"title": "Василеостровская"},
					{"title": "Владимирская"},
					{"title": "Волковская"},
					{"title": "Выборгская"},
					{"title": "Горьковская"},
					{"title": "Гостиный двор"},
					{"title": "Гражданский проспект"},
					{"title": "Девяткино"},
					{"title": "Достоевская"},
					{"title": "Елизаровская"},
					{"title": "Звёздная"},
					{"title": "Звенигородская"},
					{"title": "Кировский завод"},
					{"title": "Комендантский проспект"},
					{"title": "Крестовский остров"},
					{"title": "Купчино"},
					{"title": "Ладожская"},
					{"title": "Ленинский проспект"},
					{"title": "Лесная"},
					{"title": "Лиговский проспект"},
					{"title": "Ломоносовская"},
					{"title": "Маяковская"},
					{"title": "Международная"},
					{"title": "Московская"},
					{"title": "Московские ворота"},
					{"title": "Нарвская"},
					{"title": "Невский проспект"},
					{"title": "Новочеркасская"},
					{"title": "Обводный канал"},
					{"title": "Обухово"},
					{"title": "Озерки"},
					{"title": "Парк Победы"},
					{"title": "Парнас"},
					{"title": "Петроградская"},
					{"title": "Пионерская"},
					{"title": "Площадь Александра Невского 1"},
					{"title": "Площадь Александра Невского 2"},
					{"title": "Площадь Восстания"},
					{"title": "Площадь Ленина"},
					{"title": "Площадь Мужества"},
					{"title": "Политехническая"},
					{"title": "Приморская"},
					{"title": "Пролетарская"},
					{"title": "Проспект Большевиков"},
					{"title": "Проспект Ветеранов"},
					{"title": "Проспект Просвещения"},
					{"title": "Пушкинская"},
					{"title": "Рыбацкое"},
					{"title": "Садовая"},
					{"title": "Сенная площадь"},
					{"title": "Спасская"},
					{"title": "Спортивная"},
					{"title": "Старая Деревня"},
					{"title": "Технологический институт 1"},
					{"title": "Технологический институт 2"},
					{"title": "Удельная"},
					{"title": "Улица Дыбенко"},
					{"title": "Фрунзенская"},
					{"title": "Чёрная речка"},
					{"title": "Чернышевская"},
					{"title": "Чкаловская"},
					{"title": "Электросила"}],
				"button": "Сохранить выбранные",
				"triggerCheckbox": "Выбрать метро на карте"
			})
		
		+catalog-girls()
		
		+pagination({"pages": 7, "active": 1, "total": 15})
		
		a(href="#").main__banner
			img(src="img/catalog/baner2.jpg", alt="Баннер")
			
		.main__after-text
			.main__after-text__title.title1 О нашем портале
			.main__after-text__text
				| На нашем проекте размещают свои анкеты лучшие проститутки Питера,
				| а так же индивидуалки и интим салоны Санкт-Петербурга. 24 часа в сутки вы сможете найти проститутку,
				| соответствующую всем вашим требованиям и запросам, девочки готовы выполнить все ваши желания и прихоти
				| за наличные. У каждой девочки в анкете размещены реальные фотографии, что значительно облегчает выбор
				|   - вы видите, что берёте и не покупаете «кота в мешке». Любая из понравившихся путан готова исполнить
				|    любые ваши приказания, а также помочь снять стресс, им не нужно ничего рассказывать, их не нужно учить
				|     – они уже умеют абсолютно все! Удобная навигация в каждом разделе поможет быстро выбрать наиболее
				|     подходящую вам жрицу любви. Если вы до сих пор сомневаетесь, отбросьте прочь все раздумья, лучший
				|      отдых – это секс. Звоните уже сейчас, лучшие путаны СПб ждут вас!
		
	.clear
