extends ../modules/layout/layout


block content
	+sidebar-left()
	+sidebar-right()
	
	main.main
		+page-title({"title": "Индивидуалки Санкт-Петербурга"})
		+pagination({"pages": 7, "active": 1, "total": 15, "hideMobile": true})
		
		+pseudo-dropdown-type3({
			"list": [
				{"title": "Сухаревская", "id": "suharevskaya"},
				{"title": "Тургеневская", "id": "turgenyevskaya"},
				{"title": "Чистые пруды", "id": "chistie-prudi"},
				{"title": "Кузнецкий мост", "id": "kuznetskii-most"},
				{"title": "Лубянка", "id": "lubyanka"},
				{"title": "Охотный ряд", "id": "ohotnii-ryad"},
				{"title": "Театральная", "id": "teatralnaya"},
				{"title": "Площадь революции", "id": "ploshad-revolucii"},
				{"title": "Сретенский бульвар", "id": "sretenskii-bulvar", "disabled": true},
				{"title": "Китай-город", "id": "kitai-gorod"},
				{"title": "Третьяковская", "id": "tretyakovskaya"},
				{"title": "Новокузнецкая", "id": "novokuznetskaya"},
				{"title": "Комсомольская", "id": "komsomolskaya"},
				{"title": "Красные ворота", "id": "krasnie-vorota"},
				{"title": "Курская", "id": "kurskaya"},
				{"title": "Чкаловская", "id": "chkalovskaya"},
				{"title": "Марксистская", "id": "marksistskaya"},
				{"title": "Таганская", "id": "taganskaya"},
				{"title": "Площадь Ильича", "id": "ploshad-ilicha"},
				{"title": "Римская", "id": "rimskaya"},
				{"title": "Крестьянская застава", "id": "krestyanskaya-zastava"},
				{"title": "Пролетарская", "id": "proletarskaya"},
				{"title": "Добрынинская", "id": "dobrininskaya"},
				{"title": "Полянка", "id": "polyanka"},
				{"title": "Павелецкая", "id": "paveleckaya"},
				{"title": "Автозаводская", "id": "avtozavodskaya"},
				{"title": "Коломенская", "id": "kolomenskaya"},
				{"title": "Каширская", "id": "kashirskaya"},
				{"title": "Каховская", "id": "kahovskaya"},
				{"title": "Варшавская", "id": "varshavskaya"},
				{"title": "Проспект мира", "id": "prospekt-mira"},
				{"title": "Пушкинская", "id": "pushkinskaya"},
				{"title": "Чеховская", "id": "chehovskaya"},
				{"title": "Тверская", "id": "tverskaya"},
				{"title": "Арбатская", "id": "arbatskaya2"},
				{"title": "Смоленская", "id": "smolenskaya2"},
				{"title": "Арбатская", "id": "arbatskaya"},
				{"title": "Октябрьская", "id": "oktyabrskaya"},
				{"title": "Кропоткинская", "id": "kropotkinskaya"},
				{"title": "Парк культуры", "id": "park-kulturi"},
				{"title": "Смоленская", "id": "smolenskaya"},
				{"title": "Александровский сад", "id": "aleksandrovskii-sad"},
				{"title": "Боровицкая", "id": "borovickaya"},
				{"title": "Арбатская", "id": "arbatskaya"},
				{"title": "Библиотека им. Ленина", "id": "biblioteka-im-lenina"},
				{"title": "Краснопресненская", "id": "krasnopresnenskaya"},
				{"title": "Киевская", "id": "kievskaya"},
				{"title": "Парк Победы", "id": "park-pobedi", "disabled": true},
				{"title": "Белорусская", "id": "belorusskaya"},
				{"title": "Маяковская", "id": "mayakovskaya"},
				{"title": "Марьина роща", "id": "marina-rosha", "disabled": true},
				{"title": "Достоевская", "id": "dostoevskaya", "disabled": true},
				{"title": "Суворовская площадь", "id": "suvorovskaya-ploshad", "disabled": true},
				{"title": "Трубная", "id": "trubnaya", "disabled": true},
				{"title": "Тимирязевская", "id": "timiryazevskaya"},
				{"title": "Дмитровская", "id": "dmitrovskaya"},
				{"title": "Савеловская", "id": "savelovskaya"},
				{"title": "Менделеевская", "id": "mendeleevskaya"},
				{"title": "Новослободская", "id": "novoslobodskaya"},
				{"title": "Цветной бульвар", "id": "cvetnoi-bulvar"},
				{"title": "Волгоградский проспект", "id": "volgogradskii-prospekt"},
				{"title": "Текстильщики", "id": "tekstilshiki"},
				{"title": "Кузьминки", "id": "kuzminki"},
				{"title": "Рязанский проспект", "id": "ryazanskii-prospekt"},
				{"title": "Выхино", "id": "vihino"},
				{"title": "Дубровка", "id": "dubrovka"},
				{"title": "Кожуховская", "id": "kojuhovskaya"},
				{"title": "Печатники", "id": "pechatniki"},
				{"title": "Волжская", "id": "voljskaya"},
				{"title": "Люблино", "id": "lyblino"},
				{"title": "Братиславская", "id": "bratislavskaya"},
				{"title": "Марьино", "id": "mariino"},
				{"title": "Борисово", "id": "borisovo", "disabled": true},
				{"title": "Шипиловская", "id": "shipilovskaya", "disabled": true},
				{"title": "Зябликово", "id": "zyablikovo", "disabled": true},
				{"title": "Кантемировская", "id": "kantemirovskaya"},
				{"title": "Царицыно", "id": "caricino"},
				{"title": "Орехово", "id": "orehovo"},
				{"title": "Домодедовская", "id": "domodedovskaya"},
				{"title": "Красногвардейская", "id": "krasnogvardeyskaya"},
				{"title": "Братеево", "id": "brateevo", "disabled": true},
				{"title": "Серпуховская", "id": "serpuhovskaya"},
				{"title": "Тульская", "id": "tulskaya"},
				{"title": "Нагатинская", "id": "nagatinskaya"},
				{"title": "Нагорная", "id": "nagornaya"},
				{"title": "Нахимовский проспект", "id": "nahimovskii-prospekt"},
				{"title": "Севастопольская", "id": "sevastopolskaya"},
				{"title": "Чертановская", "id": "chertanovskaya"},
				{"title": "Южная", "id": "yujnaya"},
				{"title": "Пражская", "id": "prajskaya"},
				{"title": "Ул. академика Янгеля", "id": "ul-akademika-yangelya"},
				{"title": "Аннино", "id": "annino", "disabled": true},
				{"title": "Бульвар Дмитрия Донского", "id": "bulvar-dmitriya-donskogo", "disabled": true},
				{"title": "Шаболовская", "id": "shabolovskaya"},
				{"title": "Ленинский проспект", "id": "leninskii-prospect"},
				{"title": "Академическая", "id": "akademicheskaya"},
				{"title": "Профсоюзная", "id": "profsoyuznaya"},
				{"title": "Новые черемушки", "id": "noviye-cheremushki"},
				{"title": "Калужская", "id": "kalujskaya"},
				{"title": "Беляево", "id": "belyaevo"},
				{"title": "Коньково", "id": "konkovo"},
				{"title": "Теплый стан", "id": "teplii-stan"},
				{"title": "Ясенево", "id": "yasenevo"},
				{"title": "Битцевский парк", "id": "bitsevskii-park"},
				{"title": "Фрунзенская", "id": "frunzenskaya"},
				{"title": "Спортивная", "id": "sportivnaya"},
				{"title": "Воробьевы горы", "id": "vorobievi-godi", "disabled": true},
				{"title": "Университет", "id": "universitet"},
				{"title": "Проспект Вернадского", "id": "prospekt-vernandskogo"},
				{"title": "Юго-западная", "id": "yugo-zapadnaya"},
				{"title": "Новогиреево", "id": "novogireevo"},
				{"title": "Перово", "id": "perovo"},
				{"title": "Шоссе энтузисастов", "id": "shosse-entuziastov"},
				{"title": "Авиамоторная", "id": "aviamotornaya"},
				{"title": "Щелковская", "id": "shelkovskaya"},
				{"title": "Первомайская", "id": "pervomayskaya"},
				{"title": "Измайловская", "id": "izmaylovskaya"},
				{"title": "Измайловский парк", "id": "izmaylovskii-park"},
				{"title": "Семеновская", "id": "semenovskaya"},
				{"title": "Электрозаводская", "id": "elektrozavodskaya"},
				{"title": "Бауманская", "id": "baumanskaya"},
				{"title": "Улица Подбельского", "id": "ulica-podbelskogo"},
				{"title": "Черкизовская", "id": "cherkizovskaya"},
				{"title": "Преображенская площадь", "id": "preobrajenskaya-ploshad"},
				{"title": "Сокольники", "id": "sokolniki"},
				{"title": "Красносельская", "id": "krasnoselskaya"},
				{"title": "Медведково", "id": "medvedkovo"},
				{"title": "Бабушкинская", "id": "babushkinskaya"},
				{"title": "Свиблово", "id": "sviblovo"},
				{"title": "Ботанический сад", "id": "botanicheskii-sad"},
				{"title": "ВДНХ", "id": "VDNH"},
				{"title": "Алексеевская", "id": "alekseevskaya"},
				{"title": "Рижская", "id": "rijskaya"},
				{"title": "Планерная", "id": "planyernaya"},
				{"title": "Сходненская", "id": "shodnenskaya"},
				{"title": "Тушинская", "id": "tushinskaya"},
				{"title": "Щукинская", "id": "shukinskaya"},
				{"title": "Октябрьское поле", "id": "oktyabrskoye-pole"},
				{"title": "Полежаевская", "id": "polyezhaevskaya"},
				{"title": "Беговая", "id": "begovaya"},
				{"title": "Улица 1905 года", "id": "ulica-1905-goda"},
				{"title": "Баррикадная", "id": "barikadnaya"},
				{"title": "Алтуфьево", "id": "altufevo"},
				{"title": "Бибирево", "id": "biberevo"},
				{"title": "Отрадное", "id": "otradnoye"},
				{"title": "Владыкино", "id": "vladikino"},
				{"title": "Петровско-разумовская", "id": "petrovsko-razumovskaya"},
				{"title": "Пионерская", "id": "pionerskaya"},
				{"title": "Динамо", "id": "dinamo"},
				{"title": "Аэропорт", "id": "aeroport"},
				{"title": "Сокол", "id": "sokol"},
				{"title": "Войковская", "id": "voykovskaya"},
				{"title": "Водный стадион", "id": "vodnii-stadion"},
				{"title": "Речной вокзал", "id": "rechnoi-vokzal"},
				{"title": "Студенческая", "id": "studencheskaya"},
				{"title": "Кутузовская", "id": "kutuzovskaya"},
				{"title": "Фили", "id": "fili"},
				{"title": "Багратионовская", "id": "bagrationovskaya"},
				{"title": "Филевский парк", "id": "filevskii-park"},
				{"title": "Кунцевская", "id": "kuncevskaya"},
				{"title": "Молодежная", "id": "molodejnaya"},
				{"title": "Крылатское", "id": "krilatskoye"},
				{"title": "Строгино", "id": "strogino", "disabled": true},
				{"title": "Волоколамская", "id": "volokolamskaya", "disabled": true},
				{"title": "Митино", "id": "mitino", "disabled": true}],
			"button": "Сохранить выбранные",
			"triggerCheckbox": "Выбрать метро на карте"
		})
		
		
		+catalog-girls()
		
		+pagination({"pages": 7, "active": 1, "total": 15})
		
		a(href="#").main__banner
			img(src="img/catalog/baner2.jpg", alt="Баннер")
			
		.main__after-text
			.main__after-text__title.title1 О нашем портале
			.main__after-text__text
				| На нашем проекте размещают свои анкеты лучшие проститутки Питера,
				| а так же индивидуалки и интим салоны Санкт-Петербурга. 24 часа в сутки вы сможете найти проститутку,
				| соответствующую всем вашим требованиям и запросам, девочки готовы выполнить все ваши желания и прихоти
				| за наличные. У каждой девочки в анкете размещены реальные фотографии, что значительно облегчает выбор
				|   - вы видите, что берёте и не покупаете «кота в мешке». Любая из понравившихся путан готова исполнить
				|    любые ваши приказания, а также помочь снять стресс, им не нужно ничего рассказывать, их не нужно учить
				|     – они уже умеют абсолютно все! Удобная навигация в каждом разделе поможет быстро выбрать наиболее
				|     подходящую вам жрицу любви. Если вы до сих пор сомневаетесь, отбросьте прочь все раздумья, лучший
				|      отдых – это секс. Звоните уже сейчас, лучшие путаны СПб ждут вас!
		
	.clear
