extends ../modules/layout/layout


block content
	+sidebar-left-lk()
	+sidebar-right()

	main.main
		+bread-crumbs(["Главная", "Личный кабинет", "Платные услуги"])
		+page-title({"title": "Платные услуги"})

		.main__content
			p
				b 
					span.orange 26.02.2015 
					| на нашем проекте произошло одно изменение.
				| <br>
				| Теперь на каждую станцию метро БЕСПЛАТНО может быть размещено только 5 анкет.<br>
				| Принцип - размещаются самые старые анкеты, которые были добавлены на сайт раньше остальных.<br>
				| Остальные анкеты могут быть размещены только на платной основе.
			p Платные анкеты, даже с непроверенными фотографиями, показываются выше бесплатных. 
			p Так же для Вашего удобства мы добавили пин-коды на
				b
					span.orange 50.000 
					| рублей
				|  и 
				b
					span.orange 100.000 
					| рублей.
			hr.line1
			p Одна анкета на сайте: 
				b
					span.orange 2 
					| руб./час
				| <br>
				| Одна анкета в правом блоке по всему сайту: 
				b
					span.orange +2 
					| руб./час
			hr.line1
			p Один интим салон: 
				b
					span.orange 2 
					| руб./час
				| <br>
				| Закрепление интим салона вверху списка салонов: 
				b
					span.orange +2 
					| руб./час
			hr.line1
			p Монопольный баннер (№1) в шапке сайта 1000 Х 70: 
				b
					span.orange 40 
					| руб./час
				| <br>
				| Баннер в ротации (№3) в правой колонке (максимальный размер баннера 210 Х 212): 
				b
					span.orange 3 
					| руб./час
				| <br>
				| Закрепление баннера на первом месте (№2) в ТОПЕ без ротации (максимальный размер 210 Х 212): 
				b
					span.orange + 7 
					| руб./час.
				| , итого
				b
					span.orange 10 
					| руб./час.
				| .<br>
				| Монопольный баннер (№4) в подвале сайта 600 X 80: 
				b
					span.orange 8 
					| руб./час
			p
				b Места размещения баннеров на сайте:
			p
				img(src="img/content/pay-services-banner.jpg", alt="Места размещения баннеров на сайте")
			hr.line1
			p Средства с личного счёта списываются раз в час.
			hr.line1
			p Для пополнения баланса перейдите на страницу 
				b
					a(href="#").orange "Пополнить счёт"
				|  и следуйте инструкциям.
			hr.line1
	.clear
