mixin catalog-girls-my()
	.three-col.catalog_type4
		each val in [1, 2]
			.three-col__item
				.catalog-item.catalog-item_checked.catalog-item_vip-active.catalog-item_my-girls
					.catalog-item__top
						a(href="#").catalog-item__image
							img(src="img/catalog/girl2.jpg", alt="")
						.catalog-item__top__right
							.catalog-item__views(data-views="261")
							.catalog-item__controls__item
								i.image-icon.enabled
								| Включено
							.catalog-item__controls__item
								a(href="#")
									i.image-icon.stop
									| Стоп
							.catalog-item__controls__item
								a(href="#")
									i.image-icon.change
									| Изменить
							hr.line3
							.catalog-item__controls__item
								a(href="#")
									i.image-icon.delete
									| Удалить
						.clear
					.catalog-item__bottom
						.catalog-item__name Дианка
						.catalog-item__tel +7 916 
							b 15 65 153
						.catalog-item__metro
							i.image-icon.metro
							| Проспект просвещения
					.catalog-item__vip
						a(href="#").catalog-item__vip__button Отключить VIP
						.catalog-item__vip__label
							.catalog-item__vip__label__top
								i.image-icon.crown-orange
								| VIP
							.catalog-item__vip__label__bottom активировано
			.three-col__item
				.catalog-item.catalog-item_checked.catalog-item_my-girls.catalog-item_disabled
					.catalog-item__top
						a(href="#").catalog-item__image
							img(src="img/catalog/girl3.jpg", alt="")
						.catalog-item__top__right
							.catalog-item__views(data-views="2600")
							.catalog-item__controls__item
								i.image-icon.disabled
								| Отключено
							.catalog-item__controls__item
								a(href="#").catalog-item__controls__start Старт
							.catalog-item__controls__item
								a(href="#")
									i.image-icon.change
									| Изменить
							hr.line3
							.catalog-item__controls__item
								a(href="#")
									i.image-icon.delete
									| Удалить
						.clear
					.catalog-item__bottom
						.catalog-item__name Елизаветочка
						.catalog-item__tel +7 916 
							b 15 65 153
						.catalog-item__metro
							i.image-icon.metro
							| Проспект просвещения
					.catalog-item__vip
						a(href="#").button.button_size_lg.button_block
							i.image-icon.crown
							| СДЕЛАТЬ VIP
			.three-col__item
				.catalog-item.catalog-item_checked.catalog-item_my-girls
					.catalog-item__top
						a(href="#").catalog-item__image
							img(src="img/catalog/girl4.jpg", alt="")
						.catalog-item__top__right
							.catalog-item__views(data-views="2600")
							.catalog-item__controls__item
								i.image-icon.enabled
								| Включено
							.catalog-item__controls__item
								a(href="#")
									i.image-icon.stop
									| Стоп	
							
							.catalog-item__controls__item
								a(href="#")
									i.image-icon.change
									| Изменить
							hr.line3
							.catalog-item__controls__item
								a(href="#")
									i.image-icon.delete
									| Удалить
						.clear
					.catalog-item__bottom
						.catalog-item__name Крис
						.catalog-item__tel +7 916 
							b 15 65 153
						.catalog-item__metro
							i.image-icon.metro
							| Проспект просвещения
					.catalog-item__vip
						a(href="#").button.button_size_lg.button_block
							i.image-icon.crown
							| СДЕЛАТЬ VIP
			
			.three-col__item
				.catalog-item.catalog-item_checked.catalog-item_vip-active.catalog-item_my-girls.catalog-item_disabled
					.catalog-item__top
						a(href="#").catalog-item__image
							img(src="img/catalog/girl5.jpg", alt="")
						.catalog-item__top__right
							.catalog-item__views(data-views="260")
							.catalog-item__controls__item
								i.image-icon.disabled
								| Отключено
							.catalog-item__controls__item
								a(href="#").catalog-item__controls__start Старт
							.catalog-item__controls__item
								a(href="#")
									i.image-icon.change
									| Изменить
							hr.line3
							.catalog-item__controls__item
								a(href="#")
									i.image-icon.delete
									| Удалить
						.clear
					.catalog-item__bottom
						.catalog-item__name Натали
						.catalog-item__tel +7 916 
							b 15 65 153
						.catalog-item__metro
							i.image-icon.metro
							| Проспект просвещения
					.catalog-item__vip
						a(href="#").catalog-item__vip__button Отключить VIP
						.catalog-item__vip__label
							.catalog-item__vip__label__top
								i.image-icon.crown-orange
								| VIP
							.catalog-item__vip__label__bottom активировано
