mixin catalog-salon-numbered()
	.three-col.catalog-item-counter.catalog_type3
		each val in [1, 2, 3, 4, 5, 6]
			.three-col__item
				.catalog-item.catalog-item_salon
					.catalog-item__close
					a(href="#").catalog-item__image
						img(src="img/catalog/salon1.jpg", alt="")

					.catalog-item__bottom
						.catalog-item__name Cалон Райские птички
						.catalog-item__tel(data-views="350")
							.catalog-item__tel__inner +7 916 
								b 15 65 153
						.catalog-item__metro
							i.image-icon.metro
							| Проспект просвещения
					.catalog-item__text
						.catalog-item__text__inner Молодая и страстная брюнетка. Люблю делать минет без Молодая и страстная брюнетка. Люблю делать минет без
