mixin catalog-banner()
	.two-col
		.two-col__item
			.catalog-item.catalog-item_banner
				.catalog-item__top
					a(href="#").catalog-item__image
						img(src="img/catalog/catalog-banner1.jpg", alt="")
					.catalog-item__top__right
						.catalog-item__controls__item
							i.image-icon.enabled
							| Включено
						.catalog-item__controls__item
							a(href="#")
								i.image-icon.stop
								| Стоп	

						.catalog-item__controls__item
							a(href="#")
								i.image-icon.delete
								| Удалить
						hr.line3
						.catalog-item__controls__item
							i.image-icon.map-pin
							| Москва
						.catalog-item__controls__item
							i.image-icon.clock-black
							| 25.03.16
						
					.clear
				.catalog-item__bottom
					.catalog-item__name Название баннера
					.catalog-item__description Правый блок в ротации
					.catalog-item__link-block
						| Ссылка:
						a(href="#") https://intim724.su/baners/views/456783asdasdasdasdasdasdasd
		.two-col__item
			.catalog-item.catalog-item_banner.catalog-item_banner-horizontal
				.catalog-item__top
					a(href="#").catalog-item__image
						img(src="img/catalog/catalog-banner2.jpg", alt="")
					.catalog-item__top__right
						.catalog-item__controls__item
							i.image-icon.enabled
							| Включено
						.catalog-item__controls__item
							a(href="#")
								i.image-icon.stop
								| Отключить	

						.catalog-item__controls__item
							a(href="#")
								i.image-icon.delete
								| Удалить
						hr.line3
						.catalog-item__controls__item
							i.image-icon.map-pin
							| Москва
						.catalog-item__controls__item
							i.image-icon.clock-black
							| 25.03.16

					.clear
				.catalog-item__bottom
					.catalog-item__name Название баннера
					.catalog-item__description Нижний блок в ротации
					.catalog-item__link-block
						| Ссылка:
						a(href="#") https://intim724.su/baners/views/456783asdasdasdasdasdasdasd
		.two-col__item
			.catalog-item.catalog-item_banner.catalog-item_disabled
				.catalog-item__top
					a(href="#").catalog-item__image
						img(src="img/catalog/catalog-banner3.jpg", alt="")
					.catalog-item__top__right
						.catalog-item__controls__item
							i.image-icon.disabled
							| Отключено
						.catalog-item__controls__item
							.catalog-item__controls__item
								a(href="#").catalog-item__controls__start Старт	

						.catalog-item__controls__item
							a(href="#")
								i.image-icon.delete
								| Удалить
						hr.line3
						.catalog-item__controls__item
							i.image-icon.map-pin
							| Москва
						.catalog-item__controls__item
							i.image-icon.clock-black
							| 25.03.16

					.clear
				.catalog-item__bottom
					.catalog-item__name Название баннера
					.catalog-item__description Правый блок в ротации
					.catalog-item__link-block
						| Ссылка:
						a(href="#") https://intim724.su/baners/views/456783asdasdasdasdasdasdasd
		.two-col__item
			.catalog-item.catalog-item_banner
				.catalog-item__top
					a(href="#").catalog-item__image
						img(src="img/catalog/catalog-banner3.jpg", alt="")
					.catalog-item__top__right
						.catalog-item__controls__item
							i.image-icon.enabled
							| Включено
						.catalog-item__controls__item
							a(href="#")
								i.image-icon.stop
								| Стоп	

						.catalog-item__controls__item
							a(href="#")
								i.image-icon.delete
								| Удалить
						hr.line3
						.catalog-item__controls__item
							i.image-icon.map-pin
							| Москва
						.catalog-item__controls__item
							i.image-icon.clock-black
							| 25.03.16

					.clear
				.catalog-item__bottom
					.catalog-item__name Название баннера
					.catalog-item__description Правый блок в ротации
					.catalog-item__link-block
						| Ссылка:
						a(href="#") https://intim724.su/baners/views/456783asdasdasdasdasdasdasd				
