mixin catalog-salon()
	.three-col.catalog_type1
		each val in [1, 2, 3, 4, 5]
			.three-col__item
				.catalog-item.catalog-item_salon
					a(href="#").catalog-item__image
						img(src="img/catalog/salon1.jpg", alt="")

					.catalog-item__bottom
						.catalog-item__name Cалон Райские птички
						.catalog-item__tel +7 916 
							b 15 65 153
						.catalog-item__metro
							i.image-icon.metro
							| Проспект просвещения
					.catalog-item__text Молодая и страстная брюнетка. Люблю делать минет без		
					.catalog-item__hidden
						.catalog-item__parameters
							table.catalog-item__parameters__table
								tr
									td Час:
									td
										b 2000
								tr
									td Ночь 6 часов:
									td
										b 6000
								tr
									td Ночь 9 часов:
									td
										b 15000
						.catalog-item__reviews
							i.image-icon.speech-bubble
							| Отзывы 
							em (5)
							a(href="#").catalog-item__video__link Подробнее
			.three-col__item
				.catalog-item.catalog-item_salon
					a(href="#").catalog-item__image
						img(src="img/catalog/salon2.jpg", alt="")

					.catalog-item__bottom
						.catalog-item__name Cалон Райские птички
						.catalog-item__tel +7 916 
							b 15 65 153
						.catalog-item__metro
							i.image-icon.metro
							| Проспект просвещения
					.catalog-item__text Молодая и страстная брюнетка. Люблю делать минет без		
					.catalog-item__hidden
						.catalog-item__parameters
							table.catalog-item__parameters__table
								tr
									td Час:
									td
										b 2000
								tr
									td Ночь 6 часов:
									td
										b 6000
								tr
									td Ночь 9 часов:
									td
										b 15000
						.catalog-item__reviews
							i.image-icon.speech-bubble
							| Отзывы 
							em (5)
							a(href="#").catalog-item__video__link Подробнее
			.three-col__item
				.catalog-item.catalog-item_salon
					a(href="#").catalog-item__image
						img(src="img/catalog/salon2.jpg", alt="")

					.catalog-item__bottom
						.catalog-item__name Cалон Райские птички
						.catalog-item__tel +7 916 
							b 15 65 153
						.catalog-item__metro
							i.image-icon.metro
							| Проспект просвещения
					.catalog-item__text Молодая и страстная брюнетка. Люблю делать минет без		
					.catalog-item__hidden
						.catalog-item__parameters
							table.catalog-item__parameters__table
								tr
									td Час:
									td
										b 2000
								tr
									td Ночь 6 часов:
									td
										b 6000
								tr
									td Ночь 9 часов:
									td
										b 15000
						.catalog-item__reviews
							i.image-icon.speech-bubble
							| Отзывы 
							em (5)
							a(href="#").catalog-item__video__link Подробнее					
