.write-to-block
	background-color: $color2
	padding: 1px 0
	.form-item_style_default .form-item__input input
		border-color white
	.main-form__item__left
		padding-left: 20px
		+below($media-size5)
			padding-left: 15px
			padding-right: 15px
	.main-form__item__right
		padding-right: 20px
		+below($media-size5)
			padding-left: 15px
			padding-right: 15px
