mixin my-reviews-list()
	.my-reviews-list
		each val in [1, 2, 3, 4, 5, 6]
			a(href="#").my-reviews-list__item
				.my-reviews-list__item__text Это было круто!!!! Девочка знает, что нравится настоящему мужчине! Это было незабываемо! С удовольствием вернусь второй раз!
				.my-reviews-list__item__date 22.03.15
				.my-reviews-list__item__to
					| Кому:
					u Карина
