mixin sidebar-right()
	.sidebar-right
		.sidebar-right__item
			a(href="#").girl-reduce
				img(src="img/sidebar/girl.jpg", alt="Елизавета").girl-reduce__image
				.girl-reduce__text
					.girl-reduce__name
						b Елизавета, 
						| 24 года
					.girl-reduce__phone
						i.phone.image-icon
						| +7 916 
						b 43 56 123
		.sidebar-right__item
			a(href="#").girl-reduce
				img(src="img/sidebar/girl1.jpg", alt="Дельфина").girl-reduce__image
				.girl-reduce__text
					.girl-reduce__name
						b Дельфина, 
						| 24 года
					.girl-reduce__phone
						i.phone.image-icon
						| +7 916 
						b 43 56 123
		.sidebar-right__item
			a(href="#")
				img(src="img/sidebar/baner3.jpg", alt="Баннер")
		.sidebar-right__item
			a(href="#")
				img(src="img/sidebar/baner2.jpg", alt="Баннер")
		.sidebar-right__item
			a(href="#").girl-reduce
				img(src="img/sidebar/girl2.jpg", alt="Мариша").girl-reduce__image
				.girl-reduce__text
					.girl-reduce__name
						b Мариша, 
						| 24 года
					.girl-reduce__phone
						i.phone.image-icon
						| +7 916 
						b 43 56 123
		.sidebar-right__item
			.forum-reduce
				.forum-reduce__header Последнее на форуме
				.forum-reduce__list
					.forum-reduce-list
						.forum-reduce-list__item
							a(href="#").forum-reduce-list__item__link Жду в гости!!!
							.forum-reduce-list__item__bottom
								.forum-reduce-list__item__bottom__item
									i.image-icon.clock
									| 21.03.15
								.forum-reduce-list__item__bottom__item
									i.image-icon.speech
									| 5
						.forum-reduce-list__item
							a(href="#").forum-reduce-list__item__link миниатюрная хуесосочка пригласит на королевский МБР
							.forum-reduce-list__item__bottom
								.forum-reduce-list__item__bottom__item
									i.image-icon.clock
									| 20.03.15
								.forum-reduce-list__item__bottom__item
									i.image-icon.speech
									| 3
						.forum-reduce-list__item
							a(href="#").forum-reduce-list__item__link Люблю давать в попку
							.forum-reduce-list__item__bottom
								.forum-reduce-list__item__bottom__item
									i.image-icon.clock
									| 21.03.15
								.forum-reduce-list__item__bottom__item
									i.image-icon.speech
									| 11
						.forum-reduce-list__item
							a(href="#").forum-reduce-list__item__link Кристина 30 лет миниатюрная брюнетка сенная
							.forum-reduce-list__item__bottom
								.forum-reduce-list__item__bottom__item
									i.image-icon.clock
									| 20.03.15
								.forum-reduce-list__item__bottom__item
									i.image-icon.speech
									| 0
						.forum-reduce-list__item
							a(href="#").forum-reduce-list__item__link АНАЛЬНО КОНЧАЮ...дам!в попочку мбр юная 21 год!
							.forum-reduce-list__item__bottom
								.forum-reduce-list__item__bottom__item
									i.image-icon.clock
									| 20.03.15
								.forum-reduce-list__item__bottom__item
									i.image-icon.speech
									| 0
				.forum-reduce__footer
					a(href="#") Перейти на форум
