mixin sidebar-left-salon()
	.sidebar-left-button
	.sidebar-left
		.sidebar-left__header.border Фильтр по метро
		
		- var items = [{"title": "Автово"},{"title": "Адмиралтейская"},{"title": "Академическая"},{"title": "Балтийская"},{"title": "Бухарестская"},{"title": "Василеостровская"},{"title": "Владимирская"},{"title": "Волковская"},{"title": "Выборгская"},{"title": "Горьковская"},{"title": "Гостиный двор"},{"title": "Гражданский проспект"},{"title": "Девяткино"},{"title": "Достоевская"},{"title": "Елизаровская"},{"title": "Звёздная"},{"title": "Звенигородская"},{"title": "Кировский завод"},{"title": "Комендантский проспект"},{"title": "Крестовский остров"},{"title": "Купчино"},{"title": "Ладожская"},{"title": "Ленинский проспект"},{"title": "Лесная"},{"title": "Лиговский проспект"},{"title": "Ломоносовская"},{"title": "Маяковская"},{"title": "Международная"},{"title": "Московская"},{"title": "Московские ворота"},{"title": "Нарвская"},{"title": "Невский проспект"},{"title": "Новочеркасская"},{"title": "Обводный канал"},{"title": "Обухово"},{"title": "Озерки"},{"title": "Парк Победы"},{"title": "Парнас"},{"title": "Петроградская"},{"title": "Пионерская"},{"title": "Площадь Александра Невского 1"},{"title": "Площадь Александра Невского 2"},{"title": "Площадь Восстания"},{"title": "Площадь Ленина"},{"title": "Площадь Мужества"},{"title": "Политехническая"},{"title": "Приморская"},{"title": "Пролетарская"},{"title": "Проспект Большевиков"},{"title": "Проспект Ветеранов"},{"title": "Проспект Просвещения"},{"title": "Пушкинская"},{"title": "Рыбацкое"},{"title": "Садовая"},{"title": "Сенная площадь"},{"title": "Спасская"},{"title": "Спортивная"},{"title": "Старая Деревня"},{"title": "Технологический институт 1"},{"title": "Технологический институт 2"},{"title": "Удельная"},{"title": "Улица Дыбенко"},{"title": "Фрунзенская"},{"title": "Чёрная речка"},{"title": "Чернышевская"},{"title": "Чкаловская"},{"title": "Электросила"}]
		
		.sidebar-left__scroll
			- for (var i = 0; i < items.length; i++)
				.sidebar-left__item
					+form-item(type="checkbox", label=items[i].title)
