mixin sidebar-left-lk-2()
	.sidebar-left-button
	.sidebar-left
		.sidebar-left__header Добро пожаловать,<br>
			b.orange xburan!!!
			


		.sidebar-left__lk-title
			.image-icon.speech-bubble
			| Сообщения	
		.sidebar-left__item
			a(href="#").sidebar-left__item__link Личные сообщения
				.sidebar-left__item__num 2
		.sidebar-left__item
			a(href="#").sidebar-left__item__link
				b Сообщения на форумах
		.sidebar-left__item
			a(href="#").sidebar-left__item__link Темы на форумах
		.sidebar-left__item
			a(href="#").sidebar-left__item__link Мои отзывы	

		.sidebar-left__lk-title
			.image-icon.like
			| Отложенное	
		.sidebar-left__item
			a(href="#").sidebar-left__item__link Индивидуалки
		.sidebar-left__item
			a(href="#").sidebar-left__item__link Салоны
		
		.sidebar-left__lk-title
			.image-icon.pen
			| Вашие данные	
		.sidebar-left__item
			a(href="#").sidebar-left__item__link Регистрационные данные
		.sidebar-left__item
			a(href="#").sidebar-left__item__link Поменять пароль

		a(href="#").sidebar-left__lk-title
			.image-icon.download
			| Выход		
