mixin sidebar-left-lk()
	.sidebar-left-button
	.sidebar-left
		.sidebar-left__header.border Добро пожаловать,<br>
			b.orange xburan!!!
		.sidebar-left__item
			b Баланс: 
			b.orange 150 
			| руб
		.sidebar-left__item
			b Расход: 
			b.orange 30 
			| руб. в час
		.sidebar-left__item
			b Хватит на: 
			b.orange ~ 5 
			| час.
			
		.sidebar-left__lk-title
			.image-icon.coins
			| Счета и услуги	
		.sidebar-left__item
			a(href="#").sidebar-left__item__link Пополнить счёт
		.sidebar-left__item
			a(href="#").sidebar-left__item__link Платные услуги
		.sidebar-left__item
			a(href="#").sidebar-left__item__link История операций
			
		
		.sidebar-left__lk-title
			.image-icon.speech-bubble
			| Сообщения	
		.sidebar-left__item
			a(href="#").sidebar-left__item__link Написать администрации
		.sidebar-left__item
			a(href="#").sidebar-left__item__link Сообщения 
				.sidebar-left__item__num 2

		.sidebar-left__lk-title
			.image-icon.plump
			| Индивидуалки	
		.sidebar-left__item
			a(href="#").sidebar-left__item__link Добавить анкету
		.sidebar-left__item
			a(href="#").sidebar-left__item__link Мои анкеты

		.sidebar-left__lk-title
			.image-icon.male
			| Салоны	
		.sidebar-left__item
			a(href="#").sidebar-left__item__link Добавить салон
		.sidebar-left__item
			a(href="#").sidebar-left__item__link 
				b Мои салоны
				
		.sidebar-left__lk-title
			.image-icon.slideshow
			| Баннеры	
		.sidebar-left__item
			a(href="#").sidebar-left__item__link Добавить баннер
		.sidebar-left__item
			a(href="#").sidebar-left__item__link Мои баннеры
			
		.sidebar-left__lk-title
			.image-icon.pen
			| Вашие данные	
		.sidebar-left__item
			a(href="#").sidebar-left__item__link Регистрационные данные
		.sidebar-left__item
			a(href="#").sidebar-left__item__link Поменять пароль
			
		a(href="#").sidebar-left__lk-title
			.image-icon.download
			| Выход		
