mixin sidebar-left()
	.sidebar-left-button
	.sidebar-left
		.sidebar-left__header.border Подбор анкет
		.sidebar-left__item
			+form-item(type="checkbox", label="Новые анкеты")
		.sidebar-left__item
			+form-item(type="checkbox", label="Анкеты с видео")
		.sidebar-left__item
			+form-item(type="checkbox", label="Анкеты с отзывами")
		hr.line1
		.sidebar-left__item
			+form-item(type="checkbox", label="Элитные проститутки")
		.sidebar-left__item
			+form-item(type="checkbox", label="Бюджетные варианты")
		.sidebar-left__item
			+form-item(type="checkbox", label="Проверенные")
		hr.line1
		.sidebar-left__item
			+form-item(type="checkbox", label="На выезд")
		.sidebar-left__item
			+form-item(type="checkbox", label="В апартаментах")
		hr.line1
		.sidebar-left__item
			+form-item(type="checkbox", label="Зрелые")
		.sidebar-left__item
			+form-item(type="checkbox", label="Молодые")
		hr.line1
		.sidebar-left__item
			+form-item(type="checkbox", label="Толстые")
		.sidebar-left__item
			+form-item(type="checkbox", label="Худые")
			
		.sidebar-left__title Основные услуги
			
		.sidebar-left__item
			+form-item(type="checkbox", label="Секс классический")
		.sidebar-left__item
			+form-item(type="checkbox", label="Секс анальный")
		.sidebar-left__item
			+form-item(type="checkbox", label="Секс групповой")
		.sidebar-left__item
			+form-item(type="checkbox", label="Секс лесбийский")
		.sidebar-left__item
			+form-item(type="checkbox", label="Услуги семейной паре")
		.sidebar-left__item
			+form-item(type="checkbox", label="Минет в презервативе")
		.sidebar-left__item
			+form-item(type="checkbox", label="Минет без резинки")
		.sidebar-left__item
			+form-item(type="checkbox", label="Минет глубокий")
		.sidebar-left__item
			+form-item(type="checkbox", label="Минет в машине")
		.sidebar-left__item
			+form-item(type="checkbox", label="Куннилингус")
		.sidebar-left__item
			+form-item(type="checkbox", label="Игрушки")
		.sidebar-left__item
			+form-item(type="checkbox", label="Окончание на грудь")
		.sidebar-left__item
			+form-item(type="checkbox", label="Окончание на лицо")
		.sidebar-left__item
			+form-item(type="checkbox", label="Окончание в рот")
		.sidebar-left__item
			+form-item(type="checkbox", label="Cтриптиз профи")
			
		.sidebar-left__title Стриптиз
		.sidebar-left__item
			+form-item(type="checkbox", label="Стриптиз не профи")
		.sidebar-left__item
			+form-item(type="checkbox", label="Лесби откровенное")
		.sidebar-left__item
			+form-item(type="checkbox", label="Лесби-шоу легкое")
			
		.sidebar-left__title Экстрим
		.sidebar-left__item
			+form-item(type="checkbox", label="Страпон")
		.sidebar-left__item
			+form-item(type="checkbox", label="Анилингус делаю")
		.sidebar-left__item
			+form-item(type="checkbox", label="Золотой дождь выдача")
		.sidebar-left__item
			+form-item(type="checkbox", label="Золотой дождь прием")
		.sidebar-left__item
			+form-item(type="checkbox", label="Копро выдача")
		.sidebar-left__item
			+form-item(type="checkbox", label="Фистинг анальный")
		.sidebar-left__item
			+form-item(type="checkbox", label="Фистинг классический")
			
		.sidebar-left__title Разное
		.sidebar-left__item
			+form-item(type="checkbox", label="Ролевые игры")
		.sidebar-left__item
			+form-item(type="checkbox", label="Фото/видео съемка")
		.sidebar-left__item
			+form-item(type="checkbox", label="Эскорт-услуги")
