mixin comments-list()
	.comments-list
		.comments-list__item
			.comments-list__item__image
				img(src="http://fakeimg.pl/62/", alt="Вадим")
			.comments-list__item__comment
				.comments-list__item__comment__top Салон «Свистульки» работает для вас 24 часа в сутки. Мы находимся на пересечении Богатырского проспекта и Яхтенной
				.comments-list__item__comment__bottom
					.comments-list__item__comment__bottom__item
						i.image-icon.clock
						| 27.04.2015
					.comments-list__item__comment__bottom__item
						i.image-icon.human
						| Вадим
		.comments-list__item
			.comments-list__item__image
				img(src="http://fakeimg.pl/62/", alt="Вадим")
			.comments-list__item__comment
				.comments-list__item__comment__top Салон «Свистульки» работает для вас 24 часа в сутки. Мы находимся на пересечении Богатырского проспекта и Яхтенной
				.comments-list__item__comment__bottom
					.comments-list__item__comment__bottom__item
						i.image-icon.clock
						| 25.04.2015
					.comments-list__item__comment__bottom__item
						i.image-icon.human
						| Геннадий
