.add-funds
	&__table
		td:nth-child(1)
		td:nth-child(2)
		td:nth-child(3)
			width: 110px
			text-align: center
			white-space: nowrap
		&.table_responsive
			td:nth-child(1)
			td:nth-child(2)
			td:nth-child(3)
				width: auto
				text-align: left


		thead
			text-align: center
	&__input-wrap
		position: relative
	&__input
		margin-right: 120px
	&__button
		position: absolute
		right: 0
		top: 0
