// Core
#colorbox
#cboxOverlay
#cboxWrapper
	position absolute
	z-index 9999
	top 0
	left 0

#cboxOverlay
	position fixed
	width 100%
	height 100%


#cboxMiddleLeft
#cboxBottomLeft
	clear left


#cboxContent
	position relative
	padding: 10px
	background: white
	margin 120px 100px
	+below($media-size1)
		margin-top: 55px
		margin-left: 50px
		margin-right: 50px


#cboxLoadedContent
	overflow auto
	-webkit-overflow-scrolling touch


#cboxTitle
	margin 0


#cboxLoadingOverlay
#cboxLoadingGraphic
	position absolute
	top 0
	left 0
	width 100%
	height 100%


#cboxPrevious
#cboxNext
#cboxClose
#cboxSlideshow
	cursor pointer


.cboxPhoto
	display block
	float left
	max-width none
	margin auto
	-ms-interpolation-mode bicubic
	border 0


.cboxIframe
	display block
	width 100%
	height 100%
	border 0


#colorbox
#cboxContent
#cboxLoadedContent
	-webkit-box-sizing content-box
	-moz-box-sizing content-box
	box-sizing content-box



// Style
$border-width = 0
$border-height = 0
$border-bottom-height = 0
$overlay-color = #000


#cboxOverlay
	background $overlay-color

.cboxPhoto
	// border-radius 3px

#colorbox
	outline 0

#cboxWrapper
	// background-color #FFF
	// border-radius 3px
	// box-shadow 0 2px 6px rgba(#000, 0.15), 0 0 3px rgba(#000, 0.1)


#cboxTopLeft
#cboxTopCenter
	width $border-width
	height $border-height


#cboxBottomCenter
	height $border-bottom-height


#cboxTopRight
#cboxBottomLeft
#cboxBottomRight
#cboxMiddleLeft
#cboxMiddleRight
	width $border-width

#cboxContent
	// background #fff

.cboxIframe
	// background #ffffff

#cboxError
	padding 50px
	border 1px solid #cccccc

#cboxLoadedContent
	// margin-bottom 17px

#cboxTitle
	overflow: hidden;
	color: #333;
	font-size: 18px;
	text-align: center;
	float: none !important;
	position: absolute
	left: 0
	right: 0
	top: 100%
	background: white
	padding: 10px
	margin-top: 20px

	.image-icon
		margin-right: 10px
		margin-bottom: -4px

#cboxCurrent
	position absolute
	margin-bottom: 0
	left: 0
	right: 0
	top: 100%
	color #333
	text-align: center
	font-size: 18px
	background: white

#cboxLoadingOverlay
	// background #ffffff url("../img/facebook-ajax-loader.gif") no-repeat 50% 50%


#cboxPrevious
#cboxNext
#cboxSlideshow
#cboxClose
	overflow visible
	width auto
	margin 0
	padding 0
	border 0
	background none


#cboxPreviousactive
#cboxNextactive
#cboxSlideshowactive
#cboxCloseactive
	outline 0


#cboxSlideshow
	position absolute
	right 42px
	bottom 0px
	color #444444
	display none

#cboxPrevious
#cboxNext
	position absolute
	top: 50%
	background-position top center
	background-repeat no-repeat
	width 28px
	height 64px
	opacity 0.7
	transition opacity 0.2s ease-in-out 0s
	text-indent -9999px
	&:hover
		opacity 1
		background-position bottom center
	&:focus
		outline: none


#cboxPrevious
	left -80px
	background-image: url(../img/product-page/popup-left.png)
	+below($media-size1)
		left: -35px


#cboxNext
	right -80px
	background-image: url(../img/product-page/popup-right.png)
	+below($media-size1)
		right: -35px

#cboxClose
	position absolute
	top -55px
	right -55px
	size 43px
	// background url("../img/cbox-close.png") 50% 50% no-repeat
	font-size: 0
	background-image: url(../img/product-page/popup-close.png)
	background-repeat: no-repeat
	&:focus
		outline none
	+below($media-size1)
		top: -45px
		right: -45px

