mixin forum-topic-list()
	.forum-messages-list.forum-messages-list_topic-list
		each val in [1, 2, 3, 4, 5, 6]
			.forum-messages-list__item
				a(href="#")
					.forum-messages-list__item__message
						b Своими нежными и трепетными ручками сниму с тебя оставшую одежду.
					.forum-messages-list__item__text
						| Я уже сгораю от нетерпения все это сделать. Пишу этот текст и уже схожу с ума от того, что хочу поскорее тебя увидеть. Ты смотри, совершенно оголенный, твое грешное тело у меня на виду. И это не конец. Я продолжаю проводить манипуляции своими руками, начинаю теребить твоего друга. 9259300509/ Пригласишь, не разочаруешься!Мне 33, 158/48/1 Встреча у тебя! 2 часа 6000, плюс 500 такси, классика, куни, минет в презерв. возм мбр(1000 с окончанием)
				.forum-messages-list__item__bottom
					.forum-messages-list__item__date 21.03.15
					.forum-messages-list__item__divider |
					.forum-messages-list__item__name xburan22
