mixin forum-messages-list()
	.forum-messages-list
		each val in [1, 2, 3, 4, 5, 6]
			.forum-messages-list__item
				.forum-messages-list__item__message Я подарю тебе эти силы. Никаких проблем и суеты. Только наши апартаменты, ты, я и много оргазма. Его будет очень много. 9295963616
				.forum-messages-list__item__text
					| к теме:
					a(href="#") Я вся твоя полностью и целиком
				.forum-messages-list__item__bottom
					.forum-messages-list__item__date 21.03.15
					.forum-messages-list__item__divider |
					.forum-messages-list__item__name xburan2
