.register-data
	&__item
		font-size: 16px
		color: $color1
		margin 10px 0
		&__select-col
			float: left
			width: 49%
			& + &
				margin-left: 2%
		b
			color: $color7
	&__file
		&__left
			float: left
			width: 60px
			img
				max-width: 100%
		&__right
			margin-left: 85px
	.sidebar-left__title
		padding-bottom: 5px
		border-bottom: 1px solid $color2
		margin-bottom: 20px
		margin-top: 0
	* + .sidebar-left__title
		margin-top: 30px
	hr
		margin: 20px 0
